$base-font: 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$link-color: #4183C4;
$text-color: #333;
$background-color: white;
$synapplix-blue-1: #005ca2;
$synapplix-blue-2: #73a5cb;
$synapplix-blue-3: #e6eff5;